<div class='card'>
    <div class='card-header text-white bg-primary'>
        Edit Country
    </div>
    <div class='card-body'>
        <div class="row">
            <div class="col-12 col-md-8">
                <h2 *ngIf="country">
                    Country Details
                </h2>
            </div>
            <div class="col-12 col-md-4">
                <button type="submit" class="btn btn-secondary float-lg-right" (click)="goBack();">Back</button>
            </div>
        </div>

        <div class="col-md-12" *ngFor="let country of country">
            <div class="row pt-1" *ngIf="country">
                <div class="col-sm-3 col-md-3 pt-2" *ngIf="country?.flags">
                    <img src='{{country?.flags?.png}}' style="height:150px;width:100%;">
                </div>
                <div class="col-md pt-2">
                    <table class="table table-responsive">
                        <tbody class="table-bordered">
                            <tr *ngIf="country?.name?.common">
                                <th>Country Name</th>
                                <td><b>{{country?.name?.common}}</b></td>
                            </tr>
                            <tr *ngIf="country?.altSpellings">
                                <th>Alt Name</th>
                                <td><b>{{country?.altSpellings}}</b></td>
                            </tr>
                            <tr *ngIf="country?.capital">
                                <th>Country Capital</th>
                                <td><b>{{country?.capital}}</b></td>
                            </tr>
                            <tr *ngIf="country?.region">
                                <th>Region</th>
                                <td><b>{{country?.region}}</b></td>
                            </tr>
                            <tr *ngIf="country?.population">
                                <th>Population</th>
                                <td><b>{{country?.population}}</b></td>
                            </tr>
                            <tr *ngIf="country?.topLevelDomain">
                                <th>Country Domain</th>
                                <td><b>{{country?.topLevelDomain}}</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>