.img-resize {
    height: 100px;
}

thead {
    color: #337AB7;
}


.bg-primary {
    background-color: #1269c7!important;
}

.btn-primary {
    background-color: #1269c7!important;
}

.custom-select {
    height: 40px;
}
